

$color-white: #FAF9F6;
$color-white-lighter: #fdfdfc;
$color-grey: #6c6c6c;
$color-light-grey: #EBEBEB;
$color-xlight-grey: #f5f5f5;
$color-grey-dark: #272727;
$color-black: #141217;
$color-light-blue: #b4c5e4;
$color-reg-blue: #6878de;
$color-dark-blue: #0c0c32;
$color-red: #ff5c5c;
$color-red-dark: #AD0000;
$color-yellow: #FDDA0D;
$color-yellow-light: #FFFDF6;