<script type="module" src="scripts/deletionModal.js"></script>
<dialog id="deletionModal">
    <div class="deletionModal-content">
      <p class="deletionModal-title">Confirmez la suppression</p>
      <div class="deletionModal-btns">
        <button class="btn btn--light-blue OK">OK</button>
        <button class="btn KO focus">Annuler</button>
      </div>
    </div>
</dialog>