<script type="module" src="scripts/logInModal.js"></script>
<dialog id="logInModal">
    <div class="logInModal-content">
        <p class="logInModal-title">Connectez-vous à votre espace pour miser</p>
        <div class="logInModal-btns">
            <button class="btn btn--light-blue OK">Page de connexion</button>
            <button class="btn KO focus">Annuler</button>
        </div>
    </div>
</dialog>