<script type="module" src="scripts/logOutModal.js"></script>
<dialog id="logOutModal">
    <div class="logOutModal-content">
      <p class="logOutModal-title">Êtes-vous sûr de vouloir vous déconnecter?</p>
      <div class="logOutModal-btns">
        <button class="btn btn--light-blue OK">Oui</button>
        <button class="btn KO focus">Non</button>
      </div>
    </div>
</dialog>