<section>
  <p>Bonjour  {{ oUser.user_firstname }} {{ oUser.user_lastname }},</p>
  {% if oUser.role_id == constant('user::ROLE_MEMBER') %}
  <p>Nous avons le plaisir de vous transmettre votre identifiant de connexion et votre mot de passe sur notre site Lord Stampee.</p>
  {% endif %}
  {% if oUser.role_id == constant('user::ROLE_ADMIN') %}
  <p>Nous avons le plaisir de vous transmettre votre identifiant de connexion et votre mot de passe pour accéder à l'administration de notre site Lord Stampee.</p>
  {% endif %}
  <p>Identifiant: <strong>{{ oUser.user_email }}</strong></p>
  <p>Mot de passe: <strong>{{ oUser.user_password }}</strong></p>
  {% if oUser.role_id == constant('user::ROLE_ADMIN')   %}
  <p><a href="https://e2195318.webdev.cmaisonneuve.qc.ca/projet-web-1/App/">Cliquez sur ce lien pour accéder à notre interface d'administration</a></p>
  {% endif %} 
  {% if oUser.role_id == constant('user::ROLE_MEMBER') %}
  <p><a href="https://e2195318.webdev.cmaisonneuve.qc.ca/projet-web-1/App/">Cliquez sur ce lien pour accéder au site</a></p>
  {% endif %}
  <p>Cordialement,</p>
  <p>L'équipe de Lord Stampee</p>
</section>