<main>
    <section class="logout-result">
        <h1 class="logout-result-title">{{ title }}</h1>
        <p class="logout-result-msg">{{ message }}</p>
        <button class="logout-result-btn btn btn--light-blue"><a href=".">Page d'Accueil</a></button>
    </section>
</main>