<main>
    <section class="login-result">
        <h1 class="login-result-title">{{ title }}</h1>
        <p class="login-result-msg">{{ message }}</p>
        <button class="login-result-btn btn btn--light-blue"><a href=".">Page d'Accueil</a></button>
    </section>
</main>