<script>history.pushState({}, '', './?entity=signUp&title={{ title }}&message={{ message }}')</script>
<main>

<section class="signup-result">
    <h1 class="signup-result-title">{{ title }}</h1>
    <p class="signup-result-msg">{{ message }}</p>
    <button class="signup-result-btn btn btn--light-blue"><a href="./?entity=logIn&action=display">Page de connexion</a></button>
</section>


</main>