
.auctions-grid {

    &--gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: calc(var(--space-base) * 2);
        padding-right: calc(var(--space-base) * 2);
        padding-top: calc(var(--space-base) * 2);

        @media only screen and(min-width: $tablet){
            grid-template-columns: repeat(auto-fill, minmax(237px, 1fr));
        }

        @media only screen and(min-width: $desktop){
            grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
        }

        @media only screen and(min-width: $desktop-large){
            grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
        }

        @media only screen and(min-width: $desktop-xlarge){
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        }
    }

    &--list {
        display: block;
        padding-right: calc(var(--space-base) * 2);
        padding-top: calc(var(--space-base) * 2);
        grid-template-columns: repeat(1, 1fr);
    }

    & > .noResult-msg {

        &--hidden {
            display: none;
        }

        &--show {
            display: block;
            position: absolute;
            font-size: calc(var(--font-size-default) * 1.1);
            font-style: italic;
            font-weight: 200;
            transform: translate(10px,20px);
        }
    }
}



